.lyrics-container {
    border: rgb(192, 188, 188) 2px solid;
    min-height: 500px;
    width: 500px;
    background-color: aliceblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

.highlighted {
    background-color: yellow;
}